doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/register/signup.css')
  link(rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css")
  title Document
each schema, name in sortedSchemas 
  a(href=schema["urlLink"])=schema["schema"] + ":" + schema["value"]
  br