doctype html
head
    title login
    link(rel='stylesheet' href='/stylesheets/register/login.css')
.login-container
  h2 Login
  form.login-form(action='#' method='post')
    .form-group
      label(for='email') Email:
      input#email(type='text' name='email' placeholder='Enter your email' required='')
    .form-group
      label(for='password') Password:
      input#password(type='password' name='password' placeholder='Enter your password' required='')
    .form-group
      input(type='submit' value='Login')

