doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/register/signup.css')
  link(rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css")
  title Document
h2 questionnaire  
form(action="/trapEvaluation" method="post")
  h3 Questionnarie about situations
  each question, index in info['questionnaire']     
      label(for=index)=question
      input(type="number" name=index id=index min="1" max="6" required value='1') 
      br
  h3 Questionnarie about feelings 
  each description, feeling in info["EmotionalImpact"] 
  input(readonly value=title name="schema" index='schema')
  input(type='submit' value='Submit')